VITE_SUPABASE_URL=https://emtyxxwwslswrmjabjlq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtdHl4eHd3c2xzd3JtamFiamxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MDU2NjgsImV4cCI6MjA5MzQ4MTY2OH0.25yVHj_gCdIF7S20_aFetUyMlPHH-pjdhoiDcuDRg1I
